﻿footer {
    height: 200px;
    color: #ffffff;
    font-size: 12px;
    position: relative;
    z-index: -2;
    background-color: #000000;
    background-image: -webkit-linear-gradient(top, #31353a, #2f3337);
    background-image: -moz-linear-gradient(top, #31353a, #2f3337);
    background-image: linear-gradient(top, #31353a, #2f3337);
}
    footer > ul {
        width: 90%;
        margin-left:6%;
        bottom: 0;
        padding-bottom: 40px;
        z-index: -1;
    }
        footer > ul > li {
            width: 25%;
            float: left;
        }

    footer ul {
        list-style: none;
    }


    footer > ul > li ul li {
        margin-left: -30px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 1.8;
    }

        footer > ul > li ul li a {
            text-decoration: none !important;
            color: #ffffff !important;
        }

            footer > ul > li ul li a:hover {
                color: #ffffff !important;
            }
    footer a.logo {
        color: #ffffff !important;
        text-decoration: none !important;
        font-size: 14px;
        font-weight: bold;
        position: relative;
        text-transform: uppercase;
        display: inline-block;
        margin-top: 7px;
    }

        footer a.logo i {
            font-style: normal;
            position: absolute;
            width: 60px;
            display: block;
            left: 48px;
            top: 18px;
            font-size: 12px;
            color: #ffffff;
        }

        footer a.logo:before {
            content: '';
            display: inline-block;
            background: url('../../wwwroot/sprite.png') no-repeat -19px -70px;
            width: 48px;
            height: 37px;
            vertical-align: text-top;
        }
    footer p {
        width: 90%;
        margin-right: 10%;
        padding: 9px 0;
        line-height: 18px;
        background-color: #058cc7;
        font-weight: bold;
        font-size: 14px;
        color: #ffffff;
        text-transform: uppercase;
        text-shadow: 0 1px rgba(0,0,0,0.1);
        box-shadow: 0 0 3px rgba(0,0,0,0.3);
        margin-bottom: 20px;
        opacity: 0.9;
        cursor: default;
        -webkit-transition: opacity 0.4s;
        -moz-transition: opacity 0.4s;
        transition: opacity 0.4s;
    }

    footer > ul > li:hover p {
        opacity: 1;
    }

    footer p:before {
        content: '';
        display: inline-block;
        background: url('../../wwwroot/sprite.png') no-repeat;
        width: 16px;
        height: 18px;
        margin: 0 12px 0 15px;
        vertical-align: text-bottom;
    }
    footer p.home {
        background-color: #000000;
        background-image: -webkit-linear-gradient(top, #0096d6, #008ac6);
        background-image: -moz-linear-gradient(top, #0096d6, #008ac6);
        background-image: linear-gradient(top, #0096d6, #008ac6);
    }

        footer p.home:before {
            background-position: 0 -110px;
        }

    footer p.services {
        background-color: #000000;
        background-image: -webkit-linear-gradient(top, #00b274, #00a46b);
        background-image: -moz-linear-gradient(top, #00b274, #00a46b);
        background-image: linear-gradient(top, #00b274, #00a46b);
    }

        footer p.services:before {
            background-position: 0 -129px;
        }

    footer p.reachus {
        background-color: #000000;
        background-image: -webkit-linear-gradient(top, #d75ba2, #c75496);
        background-image: -moz-linear-gradient(top, #d75ba2, #c75496);
        background-image: linear-gradient(top, #d75ba2, #c75496);
    }

        footer p.reachus:before {
            background-position: 0 -89px;
        }

    footer p.clients {
        background-color: #000000;
        background-image: -webkit-linear-gradient(top, #e9ac40, #d89f3b);
        background-image: -moz-linear-gradient(top, #e9ac40, #d89f3b);
        background-image: linear-gradient(top, #e9ac40, #d89f3b);
    }


body {
    background-color:#2e1f1f;
}


.menu {
    position: fixed; 
    right: 0px; 
    top: 0%; 
    padding: 10px; 
}


.d1 {
    background: #A3D0C3;
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 150px;
    margin-right: 150px;
}

    .d1 input {
        width: 100%;
        height: 55px;
        padding-left: 10px;
        border: 2px solid #7BA7AB;
        border-radius: 5px;
        outline: none;
        background: #F9F0DA;
        color: #9E9C9C;
    }

.brd {
    border: 4px double black; 
    background: #fc3;
    padding: 5px;
}
.container2 {
    background: #fc3;
    padding: 5px;
    border: 4px double black;
    overflow-y: hidden;
    overflow-x: auto;
    width: 200px
}

.box {
    white-space: nowrap
}

    .box div {
        margin-left:3px;
        display: inline-block;
        border: 1px solid black
    }


    .child {
    background: #eee;
    border: 1px solid #ccc;
    padding: 1px;
    float: left;
    margin-right: 2%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .child:last-child {
        margin-right: 0;
    }