﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="~/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript"> </script>
   <script type="text/javascript" src="~/panel.js"></script>
</head>

<body>
    <div id="react-app" asp-prerender-module="ClientApp/dist/main-server" style="width:100%">Loading...</div>


    @section scripts {

        <script src="~/dist/main-client.js" asp-append-version="true"></script>
    }

</body>
</html>
